

#intro-divider{
   width: 0;
   height: 0;
   border-right: 100vw solid transparent;
   border-bottom: 10vw solid #F6F2F3;
   margin-top: -10vw;

}

#about-divider{
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 10vw solid #9E4859;
    margin-top: -10vw;

 }

/* 
 .menu-link:before {
   display: block;
   content: "";
   padding-top: 4px;
   border-bottom: 2px solid rgb(224, 222, 222);
   transform: scaleX(0);
   transform-origin: 0 50%;
   bottom: 0;
   left: 0;
   position: absolute;
   width: 100%;
   transition: transform .3s ease-in-out;
 }
 
 
 .menu-link:hover:before{
   transform: scaleX(1);
   transform-origin: 0 50%;
   transition-delay: .3s;
 } */

 /* .menu-link:before{
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: .3s;

 } */

 /* .menu-link:hover::after{
  transition: width .3s;
  width: 100%;

  
 } */