

#intro-divider{
   width: 0;
   height: 0;
   border-right: 100vw solid transparent;
   border-bottom: 10vw solid #F6F2F3;
   margin-top: -10vw;

}

#about-divider{
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 10vw solid #9E4859;
    margin-top: -10vw;

 }
